.wrapper {
  width: 100vw;
  height: 99px;
  left: 0;
  top: 0;
  margin: 52px 0 0;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  @media (max-width: 1270px) {
    display: none;
  }

  &_topHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    height: 17px;

    &_leftContent {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;
      width: max-content;
      height: 1rem;
    }

    &_rightContent {
      height: 17px;
      line-height: 120%;
      letter-spacing: 0.04em;
      color: #1d1e22;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }

  &_bottomHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    align-items: center;

    &_leftContent {
    }

    &_rightContent {
      display: flex;
      gap: 24px;
    }
  }
}

.icon {
  color: #008001;
}

.mobileWrapper {
  @media (max-width: 1270px) {
    display: flex;
  }
  display: none;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e8e8;
}
