.link {
  cursor: pointer;
  text-decoration: none;
  height: 17px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: black;
  border-bottom: 1px solid transparent;

  &:hover {
    color: #008001;
    border-bottom: 1px solid #008001;
  }

  flex: none;
  order: 0;
  flex-grow: 0;
}
